/*Gabe Briones - 3/10/2026 - Dream Website*/

html{
width: 100;
height : 100;
}

body{
text-align: center;
 background-color: rgb(255, 241, 216);
font-size: xx-large;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(69, 150, 241);
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(245, 189, 106);
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(245, 106, 106);
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(245, 106, 106);
    p.solid {border-style: solid;}
}

a{
text-decoration: none;
color: rgb(61, 141, 245);
}

